@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/static/screenshot-1500w.png");
}
.home-main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-header {
  width: 100%;
  height: 73px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-col1 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-beauty {
  width: 60%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  justify-content: center;
  background-color: #ffffff;
}
.home-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 300;
  line-height: normal;
  padding-top: var(--dl-space-space-halfunit);
  font-stretch: normal;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-telephone {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-telephone1 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Work Sans;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-menu {
  width: 100%;
  height: 62px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-shrink: 1;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: rgba(246, 240, 239, 1);
}
.home-main1 {
  color: rgba(0, 0, 0, 1);
  width: 121px;
  height: auto;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;

}
.home-aboutus {
  color: rgba(0, 0, 0, 1);
  width: 121px;
  height: auto;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-prices {
  color: rgba(0, 0, 0, 1);
  width: 209px;
  height: auto;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-promo {
  color: rgba(0, 0, 0, 1);
  width: 121px;
  height: auto;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-login {
  color: rgba(0, 0, 0, 1);
  width: 121px;
  height: auto;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-images {
  flex: 1;
  width: 100%;
  height:100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1px;
}
.home-imageleft {
  width: 25%;
  height: auto;
  align-self: flex-start;
  border-radius: 60px;
  margin-left: 30%;
}
.home-buttons {
  flex: 0 0 auto;
  width: 50%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;

}

.home-frame {
  width: max-content;
  height: max-content;
  display: flex;
  align-self: center;
  margin-top: 100px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(241, 231, 231, 1);
}
.home-text08 {
  color: rgb(0, 0, 0);
  height: var(--dl-size-size-large);
  flex-grow: 10;
  font-size: 40px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 10%;
  padding-left:100px;
  padding-right:100px;
  padding-bottom: 10%;

}
.home-frame1 {
  width: 261px;
  height: 98px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-self: center;
  margin-top: 40px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(241, 231, 231, 1);
  cursor: pointer;
  transition: 0.3s;
}
.home-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  cursor: pointer;


}
.home-frame1:hover{
  transform: scale(1.2);
}
.home-imageright {
  width: 25%;
  height: auto;
  align-self: flex-start;
  border-radius: 60px;
  margin-right: 30%;

}





