<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    {% load static %}
</head>
<body>
<div>
  <link href="{% static  'about-us.css'%}" rel="stylesheet" />
  <div class="about-us-container">
    <div class="about-us-container1">
      <h1 class="about-us-about-us-header">О нас</h1>
      <span class="about-us-about-us-text">
        <span>
          Мы рады приветствовать вас в салоне “Beauty Bar” с 2022 года. Каждого
          клиента здесь ждут уют и качественные услуги, ведь все наши мастера -
          настоящие профессионалы в своем деле, именно поэтому Вы можете
          расслабиться и наслаждаться отдыхом с пользой для своего образа. Здесь
          Вы сможете погрузиться в атмосферу красоты и стиля, а также
          попробовать прекрасный кофе со свежей выпечкой за счет заведения. Мы
          гордимся своими мастерами и клиентами, ведь именно они и есть лицо
          нашего салона красоты.
        </span>
        <br />
        <br />
        <span>Мы работаем ежедневно с 10:00 до 20:00</span>
        <br />
        <br />
        <span>
          Ждем Вас по адресу г. Москва, ул. Какая-то, д.55/1 подъезд 2, парковка
          рядом со зданием бесплатная.
        </span>
        <br />
        <br />
        <br />
        <br />
        <span>
          По всем вопросам и предложениям обращаться на почту:
          beauty.bar.moscow2022@mail.ru
        </span>
        <br />
        <span>Или по телефону: 8(977)-339-03-48</span>
      </span>
    </div>
  </div>
</div>

</body>
</html>